* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

h1 {
	text-align: center;	
	height: 10%;
	margin: 0;
	color: #9CD5A0;
}

#source, #typed-source {
	font-size: 1.2em;	
}

#source {
	height: 10%;
	margin: 0;
	padding: 10px;
	background-color: #152B2B;
	color: #C2B3B3;
}

#controls {
	height: 10%;	
	padding: 10px 5px;
}

#typed-source {
	height: 10%;
	margin: 0;
	background-color: #0B0B0B;
	border: none;
	color: #C2B3B3;
}

::-webkit-input-placeholder { color: #242424; } 
:-moz-placeholder { color: #242424; }
::-moz-placeholder { color: #242424; } 
:-ms-input-placeholder { color: #242424; }





